@using Project.Entities
@model Project.App.ViewModels.ConcreteJournalModels.InfoViewModel

@{
    ViewData["Title"] = "ConcreteJournalInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-0">
                <p style="text-align:center;margin-top:50px"><img src="~/images/Journalcartoon.jpg"
     asp-append-version="true" /></p>
            </div>
            <div class="col-md-8 offset-md-0">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 offset-md-0">
                            <h3>@Model.Journal.Journal.Title Nr.@Model.Journal.Number</h3>
                            </div>
                        </div>
                    <div class="row">
                        <div class="col-md-12 offset-md-0">
                            <h4>
                                @Model.Journal.Description
                                                        adsadasdasdasdas</h4>
</div>
                        
                    </div>
                    <div class="row">
                        <div class="col-md-12 offset-md-0">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>
                                            Date:
                                        </td>
                                        <td>
                                            @Model.Journal.Date
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Page numbers:
                                        </td>
                                        <td>
                                            100
                                            @Model.Journal.Pages
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Published by:
                                        </td>
                                        <td>
                                            @Model.Company.Name
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Authors
                                        </td>
                                        <td>
                                            @for (int i = 0; i < 10; i++)
                                            {
                                                <div>Some title</div>
                                            }
                                            @foreach (var item in Model.Authors)
                                            {
                                                <div>item.FirstName item.LastName</div>
                                            }
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Articles
                                        </td>
                                        <td>
                                            @for (int i = 0; i < 10; i++)
                                            {
                                                <div>Some title</div>
                                            }
                                            @foreach (var item in Model.Articles)
                                            {
                                                <div>item.Title</div>
                                            }
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            @*<ul class="list-group list-group-flush">
                                <li class="list-group-item">@Model.Journal.Date Some date</li>
                                <li class="list-group-item">@Model.Journal.Pages Some pages</li>
                                <li class="list-group-item">
                                    <ul>
                                        @for (int i = 0; i < 10; i++)
                                        {
                                            <li>
                                                <div>Some title</div>
                                            </li>
                                        }
                                        @foreach (var item in Model.Articles)
                                        {
                                            <h6>@item.Title Some title</h6>
                                            <h6>@item.Page Some page</h6>
                                        }
                                    </ul>
                                </li>
                            </ul>*@
                        </div>
                        
                       
                    </div>
                    </div>
            </div>
        </div>
    </div>
